.breaking-news_container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.breaking-news_title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 83px;
    text-align: center;
}

.breaking-news_content {
    display: grid;
    justify-items: center;
}

.breaking-news-big_block {
    display: flex;
    padding-bottom: 40px;
}

.breaking-news_block {
    display: block;
    padding-right: 10px;
}

.breaking-news_image {
    width: 263px;
    height: 208px;
    position: relative;
    z-index: 1;
}

.breaking-news_date {
    width: 70px;
    height: 68px;
    background: #203E38;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    z-index: 2;
    transform: translate(192px, -211px);
}

.breaking-news_block:hover .breaking-news_date {
    background: #18CFAB;
}

.breaking-news_text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    padding-left: 10px;
    width: 264px;
    height: 72px;
}

.breaking-news_block:hover .breaking-news_text {
    color: #18CFAB;
}

.breaking-news_text_small {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}