
.feedback-background {
    background-image: url("../pictures/Layer333.png");
    width: auto;
    height: auto;
    background-size: cover;
    text-align: center;
    display: grid;
    justify-items: center;
    padding-bottom: 114px;
}

.feedback-container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.feedback-title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    padding-top: 100px;
    color: #FFFFFF;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.feedback_text {
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 300;
    margin-top: 36px;
    line-height: 30px;
    text-align: center;
}

.feedback .feedback_logo{
    height: 30px;
}

.name {
    color: #18CFAB;
    font-weight: 700;
    padding-top: 37px;
    text-transform: uppercase;
}

.job {
    color: #BBBBBB;
    font-size: 13px;
    font-weight: 300;
    padding: 30px 0 10px 0;
}


.feedback_img{
    border-radius: 50%;
    width: 142px;
    height: 142px;
    overflow: hidden;
    margin-top: 25px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.feedback_slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
}

.arrow:hover{
    border: none;
    background-color: #18cfab;
}

.feedback_people_slider{
    display: flex;
    margin: 0 20px;
}

.nav_slider{
    border-radius: 50%;
    width: 72px;
    height: 72px;
    overflow: hidden;
    transition: all .3s;
    margin: 0 20px;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

.slider_animation{
    transform: translateY(-10px);
    transition: all .3s;
}


.footer{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 48px 0 ;
    color: #AEAEAE;
    background-color: #22353F; ;
}

.span_color{
    color: #18cfab;
}

