.our-services_container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.our-services_name {
    padding-top: 83px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    color: #4E4E4E;
}

.our-services_line_set {
    display: grid;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 63px;
}

.our-services_line {
    width: 79px;
    height: 4px;
    background: #18CFAB;
}

.our-services_line_2 {
    width: 79px;
    height: 4px;
    background: #18CFAB;
    margin: 2px 20px;
}


.our-services__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services__menu_list {
    font-size: 16px;
    color: #717171;
    width: 192px;
    height: 72px;
    background-color: #f8fcfe;
    line-height: 70px;
    border: 1px solid #ebebeb;
    position: relative;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.our-services__menu_list:hover{
    border: 2px solid #18CFAB;
}

.our-services__menu_list.active  {
    color: white;
    background-color: #18CFAB;
}

.our-services__menu_list.active::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #18CFAB;
    bottom: -20px;
    left: 84px;
}

.our-services__content {
    display: none;
}

.our-services__content.active {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 91px;
}


.our-services__img {
    width: 192px;
    height: 139px;
}

.our-services__text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    padding-left: 10px;
}

.footer_background {
    background-image: url("../pictures/Layer211.png");
    width: auto;
    height: auto;
    background-size: cover;
    text-align: center;
    display: grid;
    justify-items: center;
}

.footer_title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 126px;
}

.footer_text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding-top: 12px;
    padding-bottom: 65px;
}

.footer_button {
    background-color: #18CFAB;
    width: 169px;
    height: 63px;
    margin-left: 50px;
    border-radius: 5px;
    border-top: 3px solid #FFFFFF;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 127px;
}